// 🔴font-family
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap');

// 🔴colors
$r: #F94F4F;
$rH: #FF9393;
$BgBlack: #191921;
$BgBlackH: #434356;
$w: #FFF;
$b: #000;
$lg: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);